---
layout: default
cover: 'assets/images/cover1.jpg'
class: 'tag-template'
navigation: True
logo: 'assets/images/ghost.png'
current: tag
---


<div class="post">
  <h1>Tag: {{ page.tag }}</h1>
  <ul>
    {% for post in site.tags[page.tag] %}
    <div class="vertical">
      <div class="main-header-content inner">
        <h1 class="page-title">
          {{ post.title }}</a> ({{ post.date | date_to_string }})<br>
        </h1>
        <h2 class="page-description">
          {{ post.description }}
        </h2>
      </div>
    </div>
    {% endfor %}
  </ul>
</div>
<hr>

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">

  <!-- The tag below includes the post loop - partials/loop.hbs -->
  {% include loop.html %}

</main>